body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 10rem;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(218, 80, 0), rgb(255, 165, 30));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(218, 80, 0), rgb(255, 165, 30));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media (min-width: 768px) {
    header {
        height: 17rem;
    }
}

.atras {
    margin-top: 1rem;
    margin-left: 1rem;
    float: left;
    width: 2rem;
}

@media (min-width: 768px) {
    .atras {
        width: 3rem;
        margin-top: 2rem;
        margin-left: 2rem;

    }
}


header h1 {
    text-shadow: 0 0.3rem 1rem black;
    margin: 0;
    padding-top: 4rem;
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    header h1 {
        padding-top: 7rem;
        font-size: 4rem;
    }
}

.todo {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .todo {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1024px) {
    .todo {
        margin-left: 25%;
        margin-right: 25%;

    }
}

section {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(218, 80, 0), rgb(255, 165, 30));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(218, 80, 0), rgb(255, 165, 30));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.all {
    background-color: white;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.boton {   
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(218, 80, 0), rgb(255, 165, 30));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(218, 80, 0), rgb(255, 165, 30));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 1rem;
    margin: 0;
    border-radius: 2rem;
    border-radius: 2rem;
}
.boton:hover{
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.500);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.todo a{
    text-decoration: none;
}

.boton h2 {
    color: white;
    text-shadow: 0 0 .4rem black;
    padding: 2rem 0;
    text-align: center;
}
.boton h2:active{
    color: rgb(29, 29, 29);
    text-shadow: 0 0 .4rem rgb(255, 165, 30);

}

